@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
  color: white;
  height: 5vh;
  grid-area: nav;
}

body {
  overflow-y: hidden;
  color: black;
  background: white;
  grid-template-areas:"nav" "main" "footer" ;
}

.section-container {
  height: 85vh;
  grid-area: main;  
}
section {
  border: 3px purple;
}


footer {
  bottom: 0;
  width: 100%;

  height: 10vh;
  grid-area: footer;
}

.backgroundRegistro {
  background-image: url('../../public/backgroundimage.png')
}

.bg-white {
  background-color: white;
}

