.header {
    
    border: 5px solid #c71414;
    border-radius: 4px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 40px;
  padding-right: 40px;
    
}

.Nav {
    border: 5px solid #0a4cda;
    display: flex;
    list-style: none;
    gap: 36px;
}

